body{
	background-color: #f2f2f2;
}
#mainDiv{
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	max-width: 1200px;
	height: 930px;
	margin: auto;
}
#animationDiv{
	height: 220px;
	background-image: url(../img/cave.png);
}
#person{
	position: relative;
	left: 0px;
	height:220px;
	width:100px;
}
.rotated{
    top: 80px !important;
	/* Rotate div */
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}
#wasted{
	position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: none;
    width: 10%;
}
#title{
	width: 40%;
	position: relative;
    margin: auto;
    display: block;
}
#listDiv{
	float: left;
	width: 50%;
}
tbody, thead tr{
	display: block;
}
#generationlist{
	background-color: #ebffe7;
	border-spacing: 0;
	-webkit-box-shadow: 3px 3px 7px -2px #888;
          box-shadow: 3px 3px 7px -2px #888;
}
#generationlist thead{
	width: 100%;
	background-color: #124612;
    color: #edfff5;
}
#generationlist tbody{
	height: 511px;
	width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#inputDiv{
	padding: 10px 30px;
	height: 548px;
	float: right;
	width: 50%;
/* 	background-color: #01813d; */
	background-color: #fafafa;
}
#speed{
	display: inline;
}
.rowgennumber{
	width: 29%;
}
.rowgene{
	width: 64%;

}
.rowfitness{
	width: 20%;

}
thead th:last-child {
    width: 20%; /* 140px + 16px scrollbar width */
}
.bestrow{
	color: #01813d;
	font-weight: bolder;
}
#titleDiv{
	background-color: beige;
    border-top: 1px solid #01813d;
    border-bottom: 1px solid #01813d;
 	background-image: url(../img/cave2.png);   
}
.btn-default {
    color: #2acd76 !important;
    background-color: #124612 !important;
    border-color: #2acd76 !important;
}
.form-control{
	border: 1px solid #2fc72f !important;
}
label{
	color: #134313 !important;
}